@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}

div {
    background-color: #ffffff;
    box-shadow: 1px 2px 4px rgba(41, 41, 41, 0.438);
    margin: -10px 50px 0px 50px;
    padding: 10px;
}

header {
    border-bottom: 1px solid  #606060;
}

section {
    max-width: 850px;
    min-width: 300px;
    margin: auto;
    display: block;
    float: left;
    border-right: 1px solid  #606060;
    padding: 10px;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 3px #606060;
}
h2 {
    margin-top: -10px;
}

p {
    text-align: justify;
    text-indent: 30px;
}

caption {
    font-weight: bold;
    font-size: 13pt;
}
table {
    width: 400px;
    max-width: 300px;
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
table td {
    border: 1px solid  #606060;
}
table tr.cabecalho {
    background-color: #606060;
    color: #ffffff;
    font-weight: bolder;
}
table tr.cor {
    background-color: #dddddd;
}

aside {
    width: 300px;
    display: block;
    float: right;
    padding: 20px;
    margin: auto;
    background-color: #f7f3f3;
    color: rgba(0,0,0,1);
    border-top: 1px solid #606060;
}
aside header {
    background-color: #e6e0e0;
    padding: 10px;
    margin: -20px -20px 0px -20px;
}
aside h1 {
    margin: 0px;
    color: #313030;
    text-shadow: 2px 2px 3px #606060;
}
aside h2 {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #313030;
    font-size: 1,2em;
}
aside h3 {
    color: #313030;
    margin-bottom: -10px;
}

footer {
    clear: both;
    border-top: 1px solid  #606060;
}
footer p {
    font-weight: bold;
    padding-top: 10px;
}
footer span {
    display: block;
    float: right;
    font-weight: normal;
    font-size: 10pt;
    margin-top: 10px;
    padding-right: 10px;
}